* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Raleway", sans serif;
  background: #344a72;
  color: white;
  line-height: 1.8;
}

span {
  text-decoration: none;
}




code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
